body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.banner img {
    width: 100%;
    animation: scroll 20s linear infinite 2s;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.image {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.select-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #3498db;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}